# Python

# A.파이썬 기본지식

#### 파이썬 관련된 지식이 잘 정리되어있는 site https://wikidocs.net/5
##### -하지만 우리는 단시간에 코드에 필요한 부분만 학습하고 바로 현업실습에 들어갈 예정
##### -우리가 공부에 사용할  Tool은 Jupyter Notebook

### 우리는 왜 jupyter Notebook 을 사용할까?

### 파이썬 개발툴의 종류?

#### IDLE (Integrated Development and Learning Environment)
- 파이썬 설치 시 기본 제공되는 툴
    - Shell mode
        - 실행 결과를 바로 확인할 수 있도록 코드를 한 줄 씩 입력하는 모드
    - Editor mode
        - 파일로 실행할 수 있도록 여러 코드를 입력하여 저장 가능한 모드

#### DE (Integrated Development Environment)
- 프로그램 개발 편의성 향상을 위해 다양한 기능이 제공되는 통합 개발 환경
    - MS Visual Studio Code
    - JetBrains PyCharm


### Interactive Python Notebook
#### - 웹 기반 대화형 문서 형태의 편리한 개발 환경
#### - 프로그램 코드를 부분적으로 실행하고 결과를 확인
#### - 코드, 코드 실행 결과, 설명을 함께 관리 
#### - IPython Notebook의 종류
    - 로컬 설치 버전 : Anaconda Jupyter Notebook
    - 클라우드 버전 : Google Colab

# 쥬피터노트북 사용법

주피터 노트북 사용 방법

- 주피터 노트북 기본 경로
    - 노트북 파일이 저장되는 위치
    - `C:\Users\<사용자계정>`


- 노트북 생성
    - 우측 상단 `New` 버튼 클릭
    - `Python 3` 클릭

- 노트북 제목 변경
    - 좌측 상단 `Untitled` 클릭
    - 변경할 제목 입력 후 `Rename` 버튼 클릭


- 설명 셀 입력
    - 메뉴 바 중앙 드랍다운 메뉴 `Markdown` 선택
    - 입력 창 왼쪽에 아무 것도 없으면 설명 셀 (파란색)
    - 셀 클릭 후 내용 입력
    - 제목은 `#` 을 붙여 입력
    - `#` 이 늘어나면 하위 제목
   
- 실행 및 코드 셀 입력
    - Run 버튼을 클릭하면 현재 셀이 실행되고 다음 셀이 생성됨
    - 입력 창 왼쪽에 `In [ ]:` 이 있으면 코드 셀 (초록색)
    - 코드 입력



- 실행 순번 및 결과 확인
    - Run 버튼을 클릭하면 코드 셀이 실행되어 왼쪽에 실행 순번이 매겨지고 아래에 실행 결과가 출력됨
    - 코드 셀은 실행 상태가 순번대로 연결됨 (셀 위치가 바뀌어도 실행 순서는 순번을 따름)


- 셀 관리
    - 셀 추가, 셀 잘라내기, 셀 복사하기, 셀 붙여넣기, 현재 셀을 위로 밀기, 현재 셀을 아래로 밀기 등 여러 기능

- 주요 단축키
    - `[Esc]` : 셀 선택 모드 (또는 `[Ctrl]+[m]`)
        - `[m]` : 설명 셀로 변경
        - `[y]` : 코드 셀로 변경
        - `[a]` : 현재 셀 위에 셀 추가
        - `[b]` : 현재 셀 아래에 셀 추가
        - `[x]` : 현재 셀 잘라내기
        - `[c]` : 현재 셀 복사하기
        - `[v]` : 현재 셀 아래에 붙여넣기
        - `[d][d]` : 현재 셀 삭제
    - `[Enter]` : 셀 입력 모드
        - `[Ctrl]+[Enter]` : 현재 셀 실행
        - `[Shift]+[Enter]` : 현재 셀 실행 후 다음 셀 생성

- `[Ctrl]+[s]` : 저장
- `[Ctrl]+[z]` : 저장
- `[Ctrl]+[shift]+[z]` : 저장

In [1]:
1

1

# B.기본연산

### -출력하기

In [2]:
#예제B-1
print(1)
print("Hello, World!")

1
Hello, World!

In [3]:
#write your code (100견이 불여일타)

### -비교하기

- 두 피연산자를 비교
- 연산 결과는 참 또는 거짓

In [4]:
1 < 2

True

In [5]:
1 > 2

False

In [6]:
1 == 2

False

In [7]:
1 >= 2

False

### -계산하기

In [8]:
#예제B-2
print(5+3)
print(5*3)
print(5/3)
print(5%3) #나머지
print(5//3) # 몫

8
15
1.6666666666666667
2
1

In [9]:
#write your code (100견이 불여일타)

### -주석처리

In [10]:
#예제B-3
print(5+3)
# print(5*3)
print(5/3)
# print(5%3)
print(5//3)
# 주석처리하고 싶은 코드에 만 앞에 # 놔두기

8
1.6666666666666667
1

In [11]:
#write your code (100견이 불여일타)

### -들여쓰기

- 코드 블록 : 특정한 동작을 수행하기 위한 코드의 묶음
- 파이썬은 들여쓰기로 코드의 블록을 정의
- if, for, 함수 등에서 반드시 들여쓰기를 해야 함
- 코딩 스타일 가이드에는 공백 4칸을 권장함

In [12]:
#예제B-4
# 들여쓰기 없음
if 3 < 7:
print("3 is less than 7")

IndentationError: expected an indented block (<ipython-input-12-e57c84bbf231>, line 4)

In [63]:
#write your code (100견이 불여일타)

In [64]:
#예제B-5
# 들여쓰기 있음
if 3 < 7:
    print("3 is less than 7")

3 is less than 7

In [65]:
#write your code (100견이 불여일타)

### -입력

- input()


- 함수가 실행되는 지점에서 사용자의 입력을 받음

In [66]:
#변수란?
a = 1

In [67]:
print(a)

1

In [68]:
# 인풋이란 무엇인가? - 좀더 상세하게 한다. 네이버 아이디입력등을 포함한 예시를 설명한다.
input()

123

'123'

In [69]:
#예제B-6
# 문자열 출력
print("당신의 이름은 무엇입니까? :")
# 입력 값을 my_name 변수에 저장
my_name = input()
# 문자열과 변수 값을 출력
print(my_name + "!!!")

당신의 이름은 무엇입니까? :
123
123!!!

In [70]:
#write your code (100견이 불여일타)

### 실습

#### 실습 - 당신의 이름을 출력하세요

In [71]:
#write your code (100견이 불여일타)

In [72]:
#sollution
print("비현코")

비현코

#### 실습 - '1004' 를 출력하세요

In [73]:
#write your code (100견이 불여일타)

In [74]:
#sollution
print(1004)

1004

#### 실습 - 위 두개의 코드를 주석을 달아주세요

In [75]:
#write your code (100견이 불여일타)

In [76]:
#sollution
# print("비현코")
# print(1004)

#### 실습 - "나의 생년월일을 입력하세요" 라는 문자 출력 후  생년월일을 입력받는 프로그램을 만들어주세요 (풀이진행)

In [77]:
#write your code (100견이 불여일타)

In [78]:
#sollution
print("나의 생년월일을 입력하세요")
birthday = input()
print(birthday)

나의 생년월일을 입력하세요
19900101
19900101

# C.변수와 자료형

### 변수의 사용

- 변수는 숫자, 문자 등의 값을 담는 공간


- [변수명] = [값]


- ' = ' 은 할당 연산자


##### 예제 C-1

In [79]:
print("language")

language

In [80]:
language = "python" 
print(language)

python

In [81]:
#write your code (100견이 불여일타)


##### 예제 C-2

In [82]:
#대문자 소문자 구분 필수

Name = "Tom"
nAme = "Paul"
NAME = "Ben"

print(Name)
print(nAme)
print(NAME)

Tom
Paul
Ben

In [83]:
#write your code (100견이 불여일타)

### 기본 자료형
- 숫자형 (Number) : int, float, complex (숫자)
- 문자열 (String) : str (문자)
- 불린형 (Boolean) : bool ( 참/거짓)

자료형 관련 함수

- 자료형 확인 함수
    - type()


##### 예제 C-3

In [84]:
#type을 써야 하는 이유
a = 'tom'
type(a)

str

In [85]:
b = 1
type(b)#정수

int

In [86]:
my_num = 10.123 #실수
print(my_num)
print(type(my_num))

my_num = 10
print(my_num)
print(type(my_num))

my_name = "Tom"
print(my_name)
print(type(my_name))

my_bool = True
print(my_bool)
print(type(my_bool))

# type에 대한 설명 한번해주기
#

10.123
<class 'float'>
10
<class 'int'>
Tom
<class 'str'>
True
<class 'bool'>

In [87]:
#write your code (100견이 불여일타)

#### 문자열

- 문자가 나열된 형태의 데이터


- 가장 많이 사용되는 자료형 중 하나


- 큰 따옴표 ( " " ) 또는 작은 따옴표 ( ' ' ) 를 사용


##### 예제 C-4

In [88]:
# 문자는 따옴표로 감싸줘야한다.이거를 미리 공지한다.
##### 예제 C-3print("This is a name.")
print('This is also a name.')
print('This is also a "name".')
print("This is also a 'name'.")

This is also a name.
This is also a "name".
This is also a 'name'.

In [89]:
#write your code (100견이 불여일타)

### 인덱싱 (Indexing) 과 슬라이싱 (Slicing)

- 인덱싱과 슬라이싱을 하는 이유? - 다양하고 많은 자료속에서 우리가 원하는 것을 얻어내기 위해서
- 문자열 및 시퀀스 자료형에서 활용할 수 있는 기능

#### 인덱싱

- 인덱스 (Index)
    - 자료형의 각 요소에 접근하기 위한 상대적인 주소 (offset)
    - 첫 번째 값의 주소가 0 일 때 각 값들이 첫 번째 값과 얼마나 떨어져 있는지를 의미


- 문자열은 문자 하나하나가 모인 자료형 : 인덱스로 각 문자에 접근 가능

In [90]:
#  EX)  "abcdefghijklnmopqrstuvwxyz" 순서를 알 수 있다.
#  EX)  "abcdefghijkln mopqrstuvwxyz" 나눌 수 있는 것을 슬라이싱이라고 합니다.


##### 예제 C-5

In [91]:
language = "python"
print(language[1])
print(language[0])
print(language[3])
print(language[-3])
print(language[-5])

y
p
h
h
y

In [92]:
#write your code (100견이 불여일타)

####  슬라이싱 (Slicing)

- 인덱스를 사용하여 일부를 잘라내기


- 시작 인덱스 요소는 포함, 끝 인덱스 요소는 제외 (start inclusive, end exclusive)

[ 시작 : 끝 : 한번에 얼마나 올릴것인가]


##### 예제 C-6

In [93]:
language = "python"

print(language[3:5:])
print(language[::]) #설명을 위해씁니다.안씁니다 평소에는
print(language[::2])

print(language[1:4:2])
print(language[::-1])#### 실습

ho
python
pto
yh
nohtyp

In [94]:
#write your code (100견이 불여일타)

#### **[실습]**

language 변수에 'python' 문자열 값을 할당하고 문자열 슬라이싱을 사용하여 'tho' 를 출력하세요. (인덱스 및 리버스 인덱스 활용)

In [95]:
#write your code (100견이 불여일타)

In [96]:
#sollution
language = 'python'
print(language[-4:-1:])

tho

#### **[실습]**


- 자동차 번호가 다음과 같을 때 뒤 4자리만 출력하세요.

  12나 6939

In [97]:
#write your code (100견이 불여일타)

In [98]:
#sollution
car_number = '12나 6939'
print(car_number[-4::])

6939

# D.	데이터구조

### 데이터구조란?

엑셀을 예로 들어보면, 행/열로 우리가 원하는 데이터를 저장하고 우리가 원할때 그 데이터를 가져올 수 있는 데이터구조

우리가 알고 있는 표와 같다.

그런데, 코딩에서는 단순 2차원인 표뿐만 아니라 3차,4차 N차원까지 자료를 저장할 수 있다.

그래서 데이터 구조를 이해하면 새로운 환경으로 진입할 수 있다.

#### 데이터 구조의 종류
#### 리스트 / 튜플 / 딕셔너리 / 세트 / Range  등이 있다.

#### 우리는 리스트,딕셔너리,Range 이 3개만 간단히 알아볼 것이다.

주머니를 상상해보자 우리가 나중에 필요한 것을 뽑아낼 수 있다. 도서관 책장 예시

![title](도서관.jpg)

# 리스트의 개념 

- 왜 필요한가?
    - 100명의 사원 이름을 저장하려면 100개의 변수가 필요
        - employee1 = 'bhyunco'
        - employee2 = 'bhyunsoon'
        - ...
    - 하나의 변수에 할당할 수 없을까?
        - employee = ['bhyunco', 'bhyunsoon', ...]


- 여러 데이터가 순서대로 들어있는 시퀀스 자료형
    - 요소 (element) : 리스트에 들어 있는 각각의 값
    - 시퀀스 자료형의 종류 : List, Tuple, Range
    

- \[ \] (대괄호) 기호를 이용하여 생성


##### 예제 D-1

In [99]:
word1 = "is"
word2 = "nice"
my_list = ["my", "list", word1, word2, 'list']
print(my_list)

['my', 'list', 'is', 'nice', 'list']

In [100]:
#write your code (100견이 불여일타)


##### 예제 D-2

인덱싱 + 슬라이싱

In [101]:
my_list = ['my', 'list', 'is', 'nice', 'list']

#인덱싱
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[-1])
print("\n")

#슬라이싱1
print(my_list[0:3:])
print(my_list[1:4:])
print(my_list[:4:])
print(my_list[2::])
print("\n")

#슬라이싱2
print(my_list[::2])
print(my_list[::3])
print(my_list[::1])
print(my_list[::-1])
print("\n")

my
list
is
list


['my', 'list', 'is']
['list', 'is', 'nice']
['my', 'list', 'is', 'nice']
['is', 'nice', 'list']


['my', 'is', 'list']
['my', 'nice']
['my', 'list', 'is', 'nice', 'list']
['list', 'nice', 'is', 'list', 'my']

In [102]:
#write your code (100견이 불여일타)


##### 예제 D-3
요소 추가

- 차례로 추가
    - append() 함수

In [103]:
motorcycles = ['kia', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['kia', 'yamaha', 'suzuki']
['kia', 'yamaha', 'suzuki', 'ducati']

In [104]:
#write your code (100견이 불여일타)


##### 예제 D-4
- 인덱스로 특정 위치에 끼워넣기
    - insert() 함수

In [105]:
motorcycles = ['honda', 'kia', 'suzuki']

motorcycles.insert(0, 'ducati')
print(motorcycles)
motorcycles.insert(2, 'bmw')
print(motorcycles)

['ducati', 'honda', 'kia', 'suzuki']
['ducati', 'honda', 'bmw', 'kia', 'suzuki']

In [106]:
#write your code (100견이 불여일타)


##### 예제 D-5
요소 제거

- del 키워드
    - 인덱스로 특정 위치의 요소 제거

In [107]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [108]:
#write your code (100견이 불여일타)


##### 예제 D-6
- 길이 계산

In [109]:
cars = ['bmw', 'audi', 'toyota', 'hyundai']
print(len(cars))

4

In [110]:
#write your code (100견이 불여일타)

#### **[실습]**


- 'apple', 'banana', 'grape' 문자열이 들어있는 리스트를 생성하여 fruit_list 변수에 할당 및 출력

- fruit_list 에서 인덱싱을 활용하여 'grape' 를 출력

- fruit_list 를 언패킹하여 fruit1, fruit2, fruit3 변수에 담아 각 변수들을 출력

In [111]:
#write your code (100견이 불여일타)

In [112]:
#sollution
fruit_list = ['apple','banana','grape']
print(fruit_list[2])

fruit1=fruit_list[0]
fruit2=fruit_list[1]
fruit3=fruit_list[2]
print(fruit1)
print(fruit2)
print(fruit3)

grape
apple
banana
grape

# 딕셔너리의 개념
- Key-Value 형태의 자료구조


- 왜 딕셔너리를 사용하는가?
    - 학생정보 리스트
        - ['A001', '홍길동', '85', 'B']
        - 리스트는 각 데이터의 의미를 알기 어려움
    - 딕셔너리는 각 데이터에 이름을 붙여줌
        - 학번: 'A001', 이름: '홍길동', 점수: '85', 성적: 'B'


- { } 기호를 사용하여 생성


`{ Key1: Value1, 
   Key2: Value2, 
   ... }`


- Key 값으로 Value를 조회


##### 예제 D-7

In [113]:
alien = {
    'color': 'green',
    'points': 5,
}
print(alien['color'])
print(alien['points'])

green
5

In [114]:
#write your code (100견이 불여일타)

##### 예제 D-8 (요소추가)

In [115]:
alien = {}
print(type(alien))
#딕셔너리의 요소를 추가하는 방법
alien['color'] = 'green'
alien['points'] = 5


print(alien)

alien['x_position'] = 0
alien['y_position'] = 25

print(alien)

<class 'dict'>
{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [116]:
#write your code (100견이 불여일타)

##### 예제 D-9 (요소수정)

In [117]:
alien = {'color': 'green'}
print("The alien is " + alien['color'] + ".")

##### 예제 D-8
alien['color'] = 'yellow'
print("The alien is " + alien['color'] + ".")

The alien is green.
The alien is yellow.

In [118]:
#write your code (100견이 불여일타)

##### 예제 D-10 (요소삭제)

In [119]:
alien = {'color': 'green', 'points': 5}
print(alien)

del alien['points']
print(alien)

{'color': 'green', 'points': 5}
{'color': 'green'}

In [120]:
#write your code (100견이 불여일타)


##### 예제 D-11 ( key, value 값을 뽑아내는 방법)

In [121]:
alien = {'color': 'green', 'points': 5}

alien_keys = alien.keys()
print(alien_keys)

alien_values = list(alien.values())
print(alien_values)

alien_items = list(alien.items())
print(alien_items)

dict_keys(['color', 'points'])
['green', 5]
[('color', 'green'), ('points', 5)]

In [122]:
#write your code (100견이 불여일타)


##### 예제 D-12

In [123]:
my_dict1 = {
    'key_1': 'first_value', 
    'key_2': 2,
    'key_3': 3.14,
    'key_4': True,
    'key_5': [4, 2, 1],
    'key_6': {'inner_key': 6}
}

print(my_dict1)

{'key_1': 'first_value', 'key_2': 2, 'key_3': 3.14, 'key_4': True, 'key_5': [4, 2, 1], 'key_6': {'inner_key': 6}}

In [124]:
#write your code (100견이 불여일타)


##### 예제 D-13

In [125]:
#리스트나 딕셔너리는 키값이 될 수 없다.

In [126]:
my_dict2 = {
    4: 'four',
    1.5: 'one point five',
    'string_key': 'string_value',
    True: 'True',
#     [1, 2, 3]: 'a list',
#     {10: 'ten'}: 'a dictionary'
}

print(my_dict2)

{4: 'four', 1.5: 'one point five', 'string_key': 'string_value', True: 'True'}

In [127]:
#write your code (100견이 불여일타)

#### **[실습]**

- 빈 딕셔너리에 데이터 추가하기
    - 빈 딕셔너리 생성하여 class_score 라는 변수에 할당
    - dictionary_name[index] = value 문법으로 아래 데이터 생성
        - {'Mike': 83, 'Alice': 92, 'Tina': 79, 'Ron': 88}.
    - Alice의 점수를 출력

In [128]:
#write your code (100견이 불여일타)

In [129]:
#sollution
class_score = {}
class_score['Mike'] = 83
class_score['Alice'] = 92
class_score['Tina'] = 79
class_score['Ron'] = 88

print(class_score)

print(class_score['Alice'])

{'Mike': 83, 'Alice': 92, 'Tina': 79, 'Ron': 88}
92

# Range 의 개념
- 시퀀스 자료형


- 시작, 끝, 증가폭 지정


- 시작 포함, 끝 제외


- 시작과 증가폭은 생략 가능


- 음수 증가폭 가능


##### 예제 D-14

In [130]:
my_range = range(5)
print(my_range)
print(list(my_range))

range(0, 5)
[0, 1, 2, 3, 4]

In [131]:
#write your code (100견이 불여일타)


##### 예제 D-15

In [132]:
my_range = range(2, 5)
print(list(my_range))

[2, 3, 4]

In [133]:
#write your code (100견이 불여일타)


##### 예제 D-16

In [134]:
my_range = range(1, 7, 2)
print(list(my_range))
##### 예제 D-14

[1, 3, 5]

# E.	If 문 (조건문)

- 조건에 따라 다른 동작을 수행하여 프로그램을 분기


- 조건문이 필요한 프로그램의 예
    - 아이디와 비밀번호 정보가 틀리면 로그인 실패 메시지를 출력

In [135]:
#저녁을 먹었나? 안먹었나? -> 저녁을 먹는다.


##### 예제 E-1

In [136]:
a = 33
b = 33
##### 예제 E-1

if a > b:
    print("a is greater than b")
elif a < b:
    print("a is less than b")
else:
    print("a is not greater than b and not less than b")

a is not greater than b and not less than b

In [137]:
#write your code (100견이 불여일타)

# F.	For 문 (반복문)


##### 예제 E-2

In [138]:
numbers = [0,1,2,3,4]

for a in numbers:
    print(a)

0
1
2
3
4

In [139]:
#write your code (100견이 불여일타)


##### 예제 E-3

In [140]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [141]:
#write your code (100견이 불여일타)


##### 예제 E-4

In [142]:
fruits = ['lemon', 'kiwi', 'orange']

for a in fruits:
    print("I like " + a + ".")
print("I ate " + a + " today.\n")

I like lemon.
I like kiwi.
I like orange.
I ate orange today.

In [143]:
#write your code (100견이 불여일타)


##### 예제 E-5

In [144]:
squares = []

for value in range(5):
    a = value**2
    #**란 제곱을 의미한다.
    squares.append(a)
    
print(squares)

[0, 1, 4, 9, 16]

In [145]:
#write your code (100견이 불여일타)


##### 예제 E-6

In [146]:
my_dict = {"a": "apple", "b": "banana", "g": "grape", "k": "kiwi", "o": "orange"}

for a in my_dict:
    print(a)

a
b
g
k
o

In [147]:
my_dict = {"a": "apple", "b": "banana", "g": "grape", "k": "kiwi", "o": "orange"}

for a in my_dict.items():
    print(a)

('a', 'apple')
('b', 'banana')
('g', 'grape')
('k', 'kiwi')
('o', 'orange')

In [148]:
#write your code (100견이 불여일타)


##### 예제 E-7

In [149]:
for i in range(2): # i : 0, 1
    for j in range(3): # j : 0, 1, 2
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

In [150]:
#write your code (100견이 불여일타)


##### 예제 E-8

In [151]:
number = 1
while number < 10:
    print(number)
    number += 1 # 동일한 방식 number = number + 1

1
2
3
4
5
6
7
8
9

In [152]:
#write your code (100견이 불여일타)


##### 예제 E-9

In [153]:
i=1
while i <6:
    print(i)
    i=i+1
    if i ==3:
        break
    print("!")

1
!
2

In [154]:
#write your code (100견이 불여일타)


##### 예제 E-10

In [155]:
i=1
while i <6:
    print(i)
    i=i+1
    if i ==3:
        continue
    print("!")

1
!
2
3
!
4
!
5
!

In [156]:
#write your code (100견이 불여일타)

#### **[실습]**
range를 활용한 for문으로 다음을 출력하세요.

2  
3  
4

In [157]:
#write your code (100견이 불여일타)

In [158]:
#sollution
for a in range(2,5):
    print(a)

2
3
4

#### **[실습]**


다음을 코드로 구현하세요.


- 리스트 [1, 2, 3, 4, 3, 5] 를 nums 변수에 할당


- 3을 제외한 값들의 합을 출력

In [159]:
#write your code (100견이 불여일타)

In [160]:
#sollution

nums = [1, 2, 3, 4, 3, 5]

nums_sum = 0
for a in nums:
    if a != 3:
        nums_sum = nums_sum + a
print(nums_sum)

12


##### 예제 E-11

In [161]:
def function(a):
    a = a+3
    return a+3
function(5)

11

In [162]:
#write your code (100견이 불여일타)


#####  기타 자주쓰이는 구문

In [163]:
# 문자열 안에 변수치환
abc = '비현코'
efg = f'{abc}의 파이썬 강의는 실용적이다.'
print(efg)

비현코의 파이썬 강의는 실용적이다.

In [164]:
#write your code (100견이 불여일타)

In [165]:
# try except 구문(예외처리)
abc = 1/0

ZeroDivisionError: division by zero

In [ ]:
try:
    abc = 1/0
except:
    print("오류발생")

In [ ]:
#write your code (100견이 불여일타)